<div class="header">
  <h1 class="page-title">ようこそ、管理ツールへ</h1>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="row-fluid" style="border:none;">   
      <div class="block" style="border:none;">
          <p>ラリー関連を作成したり、編集する際は、左にあるサイドメニューから選んでください。</p>
          <p>突貫工事で作っているので、レイアウトの適当さ加減はご理解願います。</p>
      </div>
    </div>
  </div>
</div>
