<%= form_for(@stamp, html: {'data-ajax' => 'false'}) do |f| %>
  <div class="field">
    <%= f.file_field :pic, accept: 'image/*' %>
  </div>
  <div class="action">
    <%= f.submit 'スタンプ' %>
  </div>
<% end %>
