// Place all the styles related to the play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
	width: 100%;
	height: 300px;
	border: 8px solid #ccc;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}